/**
 * Style sheets
 *
 * @package     local_platformagent
 * @author      Rémi Lefeuvre
 * @copyright   (C) Rémi Lefeuvre 2016
 * @license     http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */

.navbar-right {
    margin-right: 0px; /* bootstrap - suppression du -10px */
}

.form-control[disabled] {
    background-color: #eee;
}

.form-group select {
    max-width: none;
}

table tbody tr[data-action="stats"]{
    cursor: pointer;
}

.stats-table thead tr th{
    font-size: 0.6em;
    text-align: left;
    vertical-align: top;
    background-color: #B0BDC6;
    font-family: 'Merriweather Sans',sans-serif;
    text-shadow: none;
    text-transform: uppercase;
}

.stats-table tbody tr td{
    font-weight: normal;
}

#button-morestats{
    width: 100%;
}

.modal-stats .stats-table thead tr th{
    font-size: 0.6em;
}

.stats-unique{
    color: rgb(192,0,0);
}
.stats-unique-students{
    color: rgb(160,80,0);
}
.stats-unique-teachers{
    color: rgb(160,0,80);
}

ul{
    padding-left: 15px;
}


